# --- Database Credentials ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=vibe_novel_db

# --- Neo4j Credentials ---
# Format: username/password
NEO4J_USER=neo4j
NEO4J_PASSWORD=vibe_password

# --- API Keys ---
# Provide the key corresponding to your chosen AI_PROVIDER

# gemini Models
# AI_PROVIDER=gemini

# GOOGLE_API_KEY=your_google_api_key_here

# EMBEDDING_MODEL=gemini-embedding-001
# FAST_LLM_MODEL=gemini-3.1-flash-lite-preview
# THINKING_LLM_MODEL=gemini-3.1-pro-preview

# openai Models
AI_PROVIDER=openai

OPENAI_API_KEY=your_openai_api_key_here

EMBEDDING_MODEL=text-embedding-3-large
FAST_LLM_MODEL=gpt-5-nano-2025-08-07
THINKING_LLM_MODEL=gpt-5-2025-08-07